* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }
  
  html, body { height: 100%; }
  
  body {
    font-family: 'Roboto', sans-serif;
    color: #2F2E33;
  }
  
  header {
    padding: 64px;
    background-color: #E7E7E7;
  }
  
  aside {
    height: 585px;
    padding: 32px;
    background-color: #E7E7E7;
  }
  
  main {
    height: 585px;
    padding: 32px;
    background-color: #FDF6F6;
  }
  
  footer {
    padding: 24px;
    color: #FFF;
    background-color: #2F3131;
  }

  
  /*************
  * NAVIGATION *
  **************/
  nav {
    background-color: #3F6C45;
  }
  
  .navbar {
    list-style: none;
    display: flex;
    flex-flow: column wrap;
  }
  
  .navbar li {
    padding: 12px;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1); 
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  .navbar  a {
    text-decoration: none;
    color: #FFFFFF;
  }
  
  .navbar a:hover {
    color: yellow;
  }

ul, ol, li {
    list-style: none;
}
.example {
    color: #FFF;
}
    .example-item {
        width: 25%;
        height: 150px;
        display: inline-block; /* Alteramos de inline para inline-block */
    }
    .example-item_first {
        margin-left:50px;
        margin-right:50px;

    }
    .example-item_second {
        margin-right:50px;
  
    }
    .example-item_third {
        margin-left:50px;

    }
  @media (min-width: 768px) {
    .navbar {
      flex-flow: row wrap;
      justify-content: end;
    }
    
    .navbar li {
      border-right: 1px solid rgba(255, 255, 255, 0.1); 
    }
    
    #container {
      display: flex;
    }
    
    main {
      flex: 75%;  
    }
    
    aside {
      flex: 25%;  
    }
   
  }