* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }
  
  html, body { height: 100%; }
  
  body {
    font-family: 'Roboto', sans-serif;
    color: #2F2E33;
  }
#enviar, #limpar{
    height: 50px;
    width: 90px;
}

#enviar:hover{
    background-color: rgb(95, 255, 95);
    animation: 1s;
}
#limpar:hover{
    background-color: rgb(255, 109, 109);
    animation: 1s;
}